<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= image.metadata.name %>
    </title>
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/image/favicon">
    <!-- nav bar (header) -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- like button -->
    <!-- ref: https://bootsnipp.com/snippets/8yNX -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link rel="stylesheet" href="/css/likes_button.css" />
    <!-- like button -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/likes_button.js"></script>
</head>

<body>
    <header>
        <%-include('partials/header')%>
    </header>
    <div class="container">
        <div>
            <div>
                <b>Photo by:
                    <%= ownername %>
                </b>
            </div>
            <br>
            <img src="http://localhost:8080/image/data/files/<%= image._id %>" height="400" />
        </div>
        <br>
        <div>
            Title:
            <%= image.metadata.name %>
        </div>
        <br>
        <div>
            Description:
            <%= image.metadata.desc %>
        </div>
        <br>
        <div>
            Tags:
            <%= image.metadata.tags %>
        </div>
        <br>
        <div>
            <!-- like button -->
            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-footer">
                        <h4>Likes</h4>
                        <span class="pull-right">
                             <i id="like_icon" class="glyphicon glyphicon-thumbs-up"></i>
                             <div id="like_count"> <%= image.metadata.likes %> </div>
                         </span>
                    </div>
                </div>
                <div>
                    <input type="hidden" id="count" name="id" value="<%= image.metadata.likes %>" required />
                    <input type="hidden" id="is_liked" name="id" value="<%= is_liked %>" required />
                    <input type="hidden" id="imgId" name="id" value="<%= image._id %>" required />
                </div>
            </article>
        </div>
        <button type="button" class="btn btn-danger" id="unlike" style="display:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
            Like
          </button>
        <button type="button" class="btn btn-danger" id="like" style="display:none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
            Like
          </button>
    </div>
</body>

</html>